<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content class="mat-typography">


  <form [formGroup]="createWorkOrderForm" class="row">

    <mat-form-field class="col s12 m6" appearance="outline">
      <mat-label>Numero de orden</mat-label>
      <input type="text" formControlName="numeroOrden" matInput placeholder="11231123">
      <mat-error *ngIf="createWorkOrderForm.controls['numeroOrden'].errors?.['required']">Este campo es requerido
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col s12 m6" appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="estado">
        <mat-option value="ABIERTAS">
          Abierta
        </mat-option>
        <mat-option value="CERRADO">
          Cerrada
        </mat-option>

      </mat-select>
    </mat-form-field>

    <!--    <mat-form-field class="col s12 m6" appearance="outline">-->
    <!--      <mat-label>Fecha de ingreso</mat-label>-->
    <!--      <input matInput formControlName="fechaIngreso" placeholder="15/12/2022" [matDatepicker]="picker">-->
    <!--      <mat-hint>DD/MM/YYYY</mat-hint>-->
    <!--      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
    <!--      <mat-datepicker #picker></mat-datepicker>-->
    <!--    </mat-form-field>-->

    <!--
          <mat-form-field class="col s12 m6" appearance="outline">
          <mat-label>Fecha de ingreso</mat-label>
          <input type="text" class="datepicker" formControlName="fechaIngreso" matInput placeholder="18/05/2022">
          <mat-error *ngIf="createWorkOrderForm.controls['fechaIngreso'].errors?.['required']">Este campo es requerido
          </mat-error>
        </mat-form-field>
      -->

    <mat-form-field class="col s12" appearance="outline">
      <mat-label>Cliente</mat-label>
      <mat-select (selectionChange)="getVehiclesByClient($event.value)" formControlName="rutCliente">
        <mat-option *ngFor="let client of allClients" [value]="client.rut">
          {{client.nombre}} {{client.apellido}}
        </mat-option>

      </mat-select>
    </mat-form-field>

    <mat-form-field class="col s12" appearance="outline">
      <mat-label>Vehículo</mat-label>
      <mat-select formControlName="patenteVehiculo">
        <mat-option *ngFor="let vehicle of allVehicles" [value]="vehicle.patente">
          {{vehicle.patente}} - ({{vehicle.marca}} {{vehicle.modelo}})
        </mat-option>

      </mat-select>
    </mat-form-field>


    <!--    Mostrar formArray -->


    <div class="row" formArrayName="detalle">
      <h3 class="col s12">Detalle</h3>
      <div class="col s12" [formGroupName]="i"
           *ngFor="let detalle of detalleFormArray?.controls; let i = index">

        <mat-form-field class="col s11 m4" appearance="outline">
          <mat-label>Descripción</mat-label>
          <input type="text" formControlName="descripcion" matInput placeholder="descripcion">
          <!--          <mat-error *ngIf="createWorkOrderForm.controls['detalle.descripcion'].value[i].errors?.['required']">Este campo es requerido-->
          <!--          </mat-error>-->
        </mat-form-field>
        <mat-form-field class="col s11 m3" appearance="outline">
          <mat-label>Repuesto (opcional)</mat-label>
          <mat-select (selectionChange)="selectRepuesto(i, $event.value)" formControlName="codigoRepuestos">
            <mat-option *ngFor="let carPart of allCarParts; index as i;" [value]="carPart.codigo">
              {{carPart.codigo}} - {{carPart.nombre}} (${{carPart.valor}})
            </mat-option>

          </mat-select>
        </mat-form-field>
        <mat-form-field class="col s11 m4" appearance="outline">
          <mat-label>Recargo</mat-label>
          <input type="text" formControlName="recargo" matInput placeholder="recargo">
          <!--          <mat-error *ngIf="createWorkOrderForm.controls['detalle.descripcion'].value[i].errors?.['required']">Este campo es requerido-->
          <!--          </mat-error>-->
          <mat-hint>Si se selecciona repuesto se sugiere un aumento de %35 (redondeado)</mat-hint>
        </mat-form-field>
        <div class="col s1 m1">
          <button mat-mini-fab color="warn" type="button" (click)="eliminarDireccion(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

      </div>
      <button mat-raised-button color="primary" class="col s12" type="button" (click)="addDetail()">Añadir detalle
      </button>
    </div>
    <mat-form-field class="col s12" appearance="outline">
      <mat-label>Total</mat-label>
      <input type="text" formControlName="valorOt" matInput>
      <mat-error *ngIf="createWorkOrderForm.controls['valorOt'].errors?.['required']">Este campo es requerido
      </mat-error>
    </mat-form-field>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="warn" mat-button [mat-dialog-close]="null">Cancelar</button>
  <button *ngIf="data.title === 'Crear Orden de trabajo'" mat-button cdkFocusInitial
          [disabled]="!createWorkOrderForm.valid || loadingButton" (click)="saveWorkOrder()">
    Crear
    <mat-icon *ngIf="loadingButton">
      <mat-spinner diameter="20" mode="indeterminate"></mat-spinner>
    </mat-icon>
    <mat-icon *ngIf="!loadingButton">send</mat-icon>

  </button>

  <button *ngIf="data.title === 'Editar Orden de trabajo'" mat-button cdkFocusInitial
          [disabled]="!createWorkOrderForm.valid || loadingButton" (click)="editWorkOrder()">
    Editar
    <mat-icon *ngIf="loadingButton">
      <mat-spinner diameter="20" mode="indeterminate"></mat-spinner>
    </mat-icon>
    <mat-icon *ngIf="!loadingButton">edit</mat-icon>

  </button>

  {{createWorkOrderForm.getRawValue() | json}}
</mat-dialog-actions>
