<h1 mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content class="mat-typography">


  <form [formGroup]="createCarPartsForm" class="row">

    <div class="col s12">
      <h2>Datos básicos del repuesto</h2>
    </div>


    <mat-form-field class="col s12 m6" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input type="text" formControlName="nombre" matInput placeholder="Filtro de aire">
      <mat-error *ngIf="createCarPartsForm.controls['nombre'].errors?.['required']">Este campo es requerido</mat-error>
    </mat-form-field>


    <mat-form-field class="col s12 m6" appearance="outline">
      <mat-label>Código</mat-label>
      <input type="text" formControlName="codigo" matInput placeholder="123456789">
      <mat-error *ngIf="createCarPartsForm.controls['codigo'].errors?.['required']">Este campo es requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col s12 m6" appearance="outline">
      <mat-label>Valor</mat-label>
      <input type="text" formControlName="valor" matInput placeholder="5990" >
      <mat-error *ngIf="createCarPartsForm.controls['valor'].errors?.['required']">Este campo es requerido
      </mat-error>
    </mat-form-field>

    <div class="col s12">
      <h2>¿Para que vehículo?</h2>
    </div>


    <mat-form-field class="col s12 m6" appearance="outline">
      <mat-label>Marca</mat-label>
      <input type="text" formControlName="marca" matInput placeholder="Kia">
      <mat-error *ngIf="createCarPartsForm.controls['marca'].errors?.['required']">Este campo es requerido
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col s12 m6" appearance="outline">
      <mat-label>Modelo</mat-label>
      <input type="text" formControlName="modelo" matInput placeholder="Morning">
      <mat-error *ngIf="createCarPartsForm.controls['modelo'].errors?.['required']">Este campo es requerido
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col s12 m6" appearance="outline">
      <mat-label>Año</mat-label>
      <input type="text" formControlName="anio" matInput placeholder="2022">
      <mat-error *ngIf="createCarPartsForm.controls['anio'].errors?.['required']">Este campo es requerido</mat-error>
    </mat-form-field>

    <div class="col s12">
      <h2>Proveedor</h2>
    </div>


    <mat-form-field class="col s10 m10" appearance="outline">
      <mat-label>Proveedor</mat-label>
      <mat-select formControlName="rutProveedor">
        <mat-option *ngFor="let provider of allProviders" [value]="provider.rut">
          {{provider.nombre}} {{provider.apellido}}
        </mat-option>

      </mat-select>
    </mat-form-field>
    <button type="button" (click)="openModal()" class="col s2 green" mat-raised-button>Crear nuevo proveedor</button>


  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="warn" mat-button [mat-dialog-close]="null">Cancelar</button>
  <button mat-button cdkFocusInitial [disabled]="!createCarPartsForm.valid || loadingButton" (click)="saveCarParts()">
    Crear
    <mat-icon *ngIf="loadingButton">
      <mat-spinner diameter="20" mode="indeterminate"></mat-spinner>
    </mat-icon>
    <mat-icon *ngIf="!loadingButton">send</mat-icon>

  </button>
</mat-dialog-actions>
