<form [formGroup]="createProviderForm" class="row">
  <h1 class="col s12" mat-dialog-title>{{data.title}}</h1>

  <!--  <mat-slide-toggle formControlName="habilitado" class="col s6">-->
  <!--    Habilitado-->
  <!--  </mat-slide-toggle>-->

  <mat-dialog-content class="mat-typography">


    <mat-form-field class="col s12 m6" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input type="text" formControlName="nombre" matInput placeholder="BOSCH">
      <mat-error *ngIf="createProviderForm.controls['nombre'].errors?.['required']">Este campo es requerido
      </mat-error>
    </mat-form-field>


    <mat-form-field class="col s12 m6" appearance="outline">
      <mat-label>Apellido</mat-label>
      <input type="text" formControlName="apellido" matInput placeholder="LTDA">
      <mat-error *ngIf="createProviderForm.controls['apellido'].errors?.['required']">Este campo es requerido
      </mat-error>
    </mat-form-field>


    <mat-form-field class="col s12 m6" appearance="outline">
      <mat-label>Rut</mat-label>
      <input type="text" formControlName="rut" matInput placeholder="78.111.111-1">
      <mat-error *ngIf="createProviderForm.controls['rut'].errors?.['required']">Este campo es requerido</mat-error>
      <mat-error *ngIf="createProviderForm.controls['rut'].errors?.['pattern']">Formato de ru no válido</mat-error>
    </mat-form-field>

    <mat-form-field class="col s12 m6" appearance="outline">
      <mat-label>Teléfono</mat-label>
      <input type="tel" formControlName="telefono" matInput placeholder="+569 32421212">
      <mat-error *ngIf="createProviderForm.controls['telefono'].errors?.['required']">Este campo es requerido
      </mat-error>

      <mat-error *ngIf="createProviderForm.controls['telefono'].errors?.['pattern']">Formato de teléfono no válido
      </mat-error>
    </mat-form-field>


    <mat-form-field class="col s12 m6" appearance="outline">
      <mat-label>Region</mat-label>
      <mat-select (selectionChange)="updateCommunes()" formControlName="comuna">
        <mat-option *ngFor="let region of regiones.regions" [value]="region.name">
          {{region.name}}
        </mat-option>

      </mat-select>
    </mat-form-field>

    <mat-form-field class="col s12 m6" appearance="outline">
      <mat-label>Comuna</mat-label>
      <mat-select formControlName="ciudad">
        <mat-option *ngFor="let commune of communes" [value]="commune.name">
          {{commune.name}}
        </mat-option>

      </mat-select>
    </mat-form-field>

    <mat-form-field class="col s12" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="text" formControlName="email" matInput placeholder="contacto@bosch.com">
      <mat-error *ngIf="createProviderForm .controls['email'].errors?.['required']">Este campo es requerido
      </mat-error>
      <mat-error *ngIf="createProviderForm .controls['email'].errors?.['email']">Formato de correo no válido
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col s12" appearance="outline">
      <mat-label>Dirección</mat-label>
      <input type="text" formControlName="direccion" matInput placeholder="Av Francia 433">
      <mat-error *ngIf="createProviderForm .controls['direccion'].errors?.['required']">Este campo es requerido
      </mat-error>
    </mat-form-field>

  </mat-dialog-content>

</form>

<mat-dialog-actions align="end">
  <button color="warn" mat-button [mat-dialog-close]="null">Cerrar</button>


  <button class="green" *ngIf="data.title == 'Crear proveedor'" mat-button cdkFocusInitial
          [disabled]="!createProviderForm.valid || loadingButton" (click)="saveProvider()">
    Crear
    <mat-icon *ngIf="loadingButton">
      <mat-spinner diameter="20" mode="indeterminate"></mat-spinner>
    </mat-icon>
    <mat-icon *ngIf="!loadingButton">send</mat-icon>

  </button>

  <button class="yellow darken-2" *ngIf="data.title == 'Editar proveedor'" mat-button cdkFocusInitial
          [disabled]="!createProviderForm.valid || loadingButton" (click)="editProvider()">
    Editar
    <mat-icon *ngIf="loadingButton">
      <mat-spinner diameter="20" mode="indeterminate"></mat-spinner>
    </mat-icon>
    <mat-icon *ngIf="!loadingButton">edit</mat-icon>

  </button>
</mat-dialog-actions>
