<div class="row">
  <div class="col s12 m12 l10">
    <h1>Vehículos</h1>
  </div>
  <div class="col s12 m12 l2">
    <button mat-raised-button class="green col s12" (click)="openCreateVehicles()">Crear vehiculo</button>
  </div>
</div>

<div class="row">
  <div class="col s10 center">
    <h4>Buscar por cliente <strong>o</strong> por patente</h4>
  </div>
  <div class="col s5">
    <mat-progress-bar *ngIf="loadingClients" mode="indeterminate"></mat-progress-bar>

    <mat-form-field *ngIf="!loadingClients" appearance="outline">
      <mat-label>Cliente</mat-label>
      <mat-select [(ngModel)]="selectedClient" (selectionChange)="selectClient()">
        <mat-option *ngFor="let client of allClients" [value]="client.rut">
          {{client.nombre}} {{client.apellido}}
        </mat-option>

      </mat-select>
    </mat-form-field>

  </div>
  <div class="col s5">

    <mat-form-field appearance="outline">
      <mat-label>Patente</mat-label>
      <input [(ngModel)]="patente" (ngModelChange)="changePatente()" type="text" matInput placeholder="bcdf22">
    </mat-form-field>

  </div>
  <div class="col s2">


    <button (click)="searchVehicles()" mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>

  </div>


</div>

<div *ngIf="loadingVehicles">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>


<div *ngIf="!loadingVehicles">

</div>
