<div class="row">
  <div class="col s12 m12 l10">
    <h1>Vehículos</h1>
  </div>
  <div class="col s12 m12 l2">
    <button mat-raised-button class="green col s12" (click)="openCreateVehicles()">Crear vehiculo</button>
  </div>
</div>

<div class="row">
  <div class="col s10 center">
    <h4>Buscar por cliente <strong>o</strong> por patente</h4>
  </div>
  <div class="col s5">
    <mat-progress-bar *ngIf="loadingClients" mode="indeterminate"></mat-progress-bar>

    <mat-form-field *ngIf="!loadingClients" appearance="outline">
      <mat-label>Cliente</mat-label>
      <mat-select [(ngModel)]="selectedClient" (selectionChange)="selectClient()">
        <mat-option *ngFor="let client of allClients" [value]="client.rut">
          {{client.nombre}} {{client.apellido}}
        </mat-option>

      </mat-select>
    </mat-form-field>

  </div>
  <div class="col s5">

    <mat-form-field appearance="outline">
      <mat-label>Patente</mat-label>
      <input [(ngModel)]="patente" (ngModelChange)="changePatente()" type="text" matInput placeholder="bcdf22">
    </mat-form-field>

  </div>
  <div class="col s2">


    <button (click)="searchVehicles()" mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>

  </div>


</div>

<div *ngIf="loadingVehicles">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>


<div *ngIf="!loadingVehicles">

  <div class="row">
    <div class="col s12 m4">
      <mat-selection-list #selectedVehicle [multiple]="false">
        <mat-list-option *ngFor="let vehicle of vehicles; index as i" [selected]="vehicle && i == 0" [value]="vehicle">
          {{vehicle.marca}} {{vehicle.modelo}}
        </mat-list-option>
      </mat-selection-list>


    </div>
    <div *ngIf="selectedVehicle.selectedOptions.selected[0]?.value" class="col s12 m8">
      <!--      FIXME: Da error en la consola por cambiar el valor, aunque funciona igual-->
      <div class="col s10">
        <h1>{{selectedVehicle.selectedOptions.selected[0]?.value.marca | uppercase}} {{selectedVehicle.selectedOptions.selected[0]?.value.modelo | uppercase}} </h1>

      </div>
      <div class="col s2">
        <div class="col s6">
          <button mat-icon-button (click)="openEditVehicles()">
            <mat-icon class="yellow-text text-darken-2">edit</mat-icon>
          </button>
        </div>
        <div class="col s6">
          <button mat-icon-button (click)="openEditVehicles()">
            <mat-icon class="red-text text-darken-2">delete</mat-icon>
          </button>
        </div>

      </div>
      <div class="col s12">

        <h2>Patente {{selectedVehicle.selectedOptions.selected[0]?.value.patente | uppercase}}</h2>
      </div>

      <mat-list>
        <div mat-subheader>Datos del vehículo</div>
        <mat-list-item>
          <mat-icon mat-list-icon>calendar_month</mat-icon>
          <div mat-line>Año</div>
          <div mat-line>{{selectedVehicle.selectedOptions.selected[0]?.value.anio}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>palette</mat-icon>
          <div mat-line>Color</div>
          <div mat-line>{{selectedVehicle.selectedOptions.selected[0]?.value.color}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>route</mat-icon>
          <div mat-line>Kilometraje</div>
          <div mat-line>{{selectedVehicle.selectedOptions.selected[0]?.value.kilometraje}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Dueño</div>
        <mat-list-item>
          <mat-icon mat-list-icon>face</mat-icon>
          <div mat-line>Dueño</div>
          <div mat-line> Nombre dueño</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Ordenes de trabajo</div>
        <mat-list-item>
          <mat-icon mat-list-icon>receipt_long</mat-icon>
          <div mat-line>Valor</div>
          <div mat-line> $75.000</div>
        </mat-list-item>
      </mat-list>


    </div>
  </div>

</div>
