<div>
  <mat-toolbar color="primary">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>{{title}}</span>


  </mat-toolbar>
  <mat-sidenav-container style="height: 100vh" class="example-sidenav-container">
    <mat-sidenav #snav
                 [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [opened]="!mobileQuery.matches"
                 [fixedInViewport]="mobileQuery.matches">
      <mat-nav-list>

        <div  *ngIf="auth.isLogged()" mat-subheader>app</div>
        <mat-list-item  *ngIf="auth.isLogged()" routerLinkActive="light-blue accent-2" [routerLinkActiveOptions]="{exact:true}"
                       routerLink="/app">
          <mat-icon mat-list-icon>home</mat-icon>
          <div mat-line>Inicio</div>
        </mat-list-item>


        <mat-list-item  *ngIf="auth.isLogged()" routerLinkActive="light-blue accent-2" [routerLinkActiveOptions]="{exact:true}"
                       routerLink="/app/clientes">
          <mat-icon mat-list-icon>people</mat-icon>
          <div mat-line>Clientes</div>
        </mat-list-item>
        <mat-list-item  *ngIf="auth.isLogged()" routerLinkActive="light-blue accent-2" [routerLinkActiveOptions]="{exact:true}"
                       routerLink="/app/vehiculos">
          <mat-icon mat-list-icon>directions_car</mat-icon>
          <div mat-line>Vehículos</div>
        </mat-list-item>
        <mat-list-item  *ngIf="auth.isLogged()" routerLinkActive="light-blue accent-2" [routerLinkActiveOptions]="{exact:true}"
                       routerLink="/app/ordenes-de-trabajo">
          <mat-icon mat-list-icon>list_alt</mat-icon>
          <div mat-line>Ordenes de trabajo</div>
        </mat-list-item>
        <mat-list-item  *ngIf="auth.isLogged()" routerLinkActive="light-blue accent-2" [routerLinkActiveOptions]="{exact:true}"
                       routerLink="/app/repuestos">
          <mat-icon mat-list-icon>plumbing</mat-icon>
          <div mat-line>Repuestos</div>
        </mat-list-item>
        <mat-list-item  *ngIf="auth.isLogged()" routerLinkActive="light-blue accent-2" [routerLinkActiveOptions]="{exact:true}"
                       routerLink="/app/proveedores">
          <mat-icon mat-list-icon>warehouse</mat-icon>
          <div mat-line>Proveedores</div>
        </mat-list-item>


<!--        <mat-list-item *ngIf="auth.isLogged()" (click)="goToProfile()"-->
<!--                       routerLink="/app/perfil/{{auth.getCurrentUser()!.username}}"-->
<!--                       [routerLinkActiveOptions]="{exact:true}" routerLinkActive="light-blue accent-2">-->
<!--          <mat-icon mat-list-icon>account_circle</mat-icon>-->
<!--          <div mat-line>Mi perfil {{auth.getCurrentUser()?.name}}</div>-->
<!--        </mat-list-item>-->
        <div mat-subheader>Autenticación</div>
        <mat-list-item *ngIf="!auth.isLogged()" routerLinkActive="light-blue accent-2" routerLink="/auth/Login">
          <mat-icon mat-list-icon>fingerprint</mat-icon>
          <div mat-line>Iniciar Sesión</div>
        </mat-list-item>
        <mat-list-item *ngIf="!auth.isLogged()" routerLinkActive="light-blue accent-2"
                       routerLink="/auth/SignUp">
          <mat-icon mat-list-icon>input</mat-icon>
          <div mat-line>Registrarse</div>
        </mat-list-item>
        <mat-list-item *ngIf="auth.isLogged()" (click)="logout()" class="red-text"
                       routerLinkActive="light-blue accent-2">
          <mat-icon mat-list-icon color="warn">logout</mat-icon>
          <div mat-line>Cerrar sesión</div>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="row">
        <div class="col s10 push-s1">
          <br/>
          <br/>
          <router-outlet></router-outlet>

        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
