<div class="row">
  <div class="col s12 m12 l10">
    <h1>Repuestos</h1>
  </div>
  <div class="col s12 m12 l2">
    <button mat-raised-button class="green col s12" (click)="openCreateCarParts()">Crear repuesto</button>
  </div>
</div>


<div class="row">
  <div class="col s10 center">
    <h4>Buscar por proveedor <strong>o</strong> por código</h4>
  </div>
  <div class="col s5">
    <mat-progress-bar *ngIf="loadingProviders" mode="indeterminate"></mat-progress-bar>

    <mat-form-field *ngIf="!loadingProviders" appearance="outline">
      <mat-label>Proveedor</mat-label>
      <mat-select [(ngModel)]="selectedProvider" (selectionChange)="selectProvider()">
        <mat-option *ngFor="let provider of allProviders" [value]="provider.rut">
          {{provider.nombre}} {{provider.apellido}}
        </mat-option>

      </mat-select>
    </mat-form-field>

  </div>
  <div class="col s5">

    <mat-form-field appearance="outline">
      <mat-label>Patente</mat-label>
      <input [(ngModel)]="codigo" (ngModelChange)="changeCodigo()" type="text" matInput placeholder="bcdf22">
    </mat-form-field>

  </div>
  <div class="col s2">


    <button (click)="searchCarParts()" mat-mini-fab>
      <mat-icon>search</mat-icon>
    </button>

  </div>


</div>


<div *ngIf="loadingCarParts">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>


<div *ngIf="!loadingCarParts">

  <div class="row">
    <div class="col s12 m4">
      <mat-selection-list #selectedVehicle [multiple]="false">
        <mat-list-option *ngFor="let carP of carParts; index as i" [selected]="carP && i == 0" [value]="carP">
          {{carP.name}} {{carP.codigo}}
        </mat-list-option>
      </mat-selection-list>


    </div>
    <div *ngIf="selectedVehicle.selectedOptions.selected[0]?.value" class="col s12 m8">
      <!--      FIXME: Da error en la consola por cambiar el valor, aunque funciona igual-->
      <div class="col s10">
        <h1>{{selectedVehicle.selectedOptions.selected[0]?.value.nombre | uppercase}} </h1>
      </div>
      <div class="col s2">
        <div class="col s6">
          <button mat-icon-button (click)="openEditCarParts(selectedVehicle.selectedOptions.selected[0]?.value)">
            <mat-icon class="yellow-text text-darken-2">edit</mat-icon>
          </button>
        </div>
        <div class="col s6">
          <button mat-icon-button (click)="openDelete(selectedVehicle.selectedOptions.selected[0]?.value)">
            <mat-icon class="red-text text-darken-2">delete</mat-icon>
          </button>
        </div>

      </div>
      <div class="col s12">

        <h2>Para {{selectedVehicle.selectedOptions.selected[0]?.value.marca | uppercase}} {{selectedVehicle.selectedOptions.selected[0]?.value.modelo | uppercase}}</h2>
      </div>

      <mat-list>
        <div mat-subheader>Datos del repuesto</div>
        <mat-list-item>
          <mat-icon mat-list-icon>calendar_month</mat-icon>
          <div mat-line>Año</div>
          <div mat-line>{{selectedVehicle.selectedOptions.selected[0]?.value.anio}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div mat-subheader>Proveedor</div>
        <mat-list-item>
          <mat-icon mat-list-icon>face</mat-icon>
          <div mat-line>Nombre</div>
          <div
            mat-line> {{selectedVehicle.selectedOptions.selected[0]?.value.proveedor[0].nombre}}
            {{selectedVehicle.selectedOptions.selected[0]?.value.proveedor[0].apellido}}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>home</mat-icon>
          <div mat-line>Dirección</div>
          <div
            mat-line> {{selectedVehicle.selectedOptions.selected[0]?.value.proveedor[0].direccion}}, {{selectedVehicle.selectedOptions.selected[0]?.value.proveedor[0].ciudad}} </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>phone</mat-icon>
          <div mat-line>Teléfono</div>
          <div
            mat-line> {{selectedVehicle.selectedOptions.selected[0]?.value.proveedor[0].telefono}} </div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>email</mat-icon>
          <div mat-line>Correo</div>
          <div
            mat-line> {{selectedVehicle.selectedOptions.selected[0]?.value.proveedor[0].email}} </div>
        </mat-list-item>
    
      </mat-list>


    </div>
  </div>

</div>
