<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
</head>
<body id="container">

<mat-card class="example-card" *ngIf="auth.isLogged()" routerLinkActive="light-blue accent-2" [routerLinkActiveOptions]="{exact:true}"
          routerLink="/app/inicio">
  <mat-card-header>
    <mat-icon _ngcontent-qmb-c93="" role="img" mat-list-icon="" class="mat-icon notranslate mat-list-icon material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">home</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>

    <span class="mat-list-item-content">
          <mat-card-title>Inicio</mat-card-title>
    </span>
  </mat-card-actions>
</mat-card>

<br>

<mat-card class="example-card" *ngIf="auth.isLogged()" routerLinkActive="light-blue accent-2" [routerLinkActiveOptions]="{exact:true}"
          routerLink="/app/clientes">
  <mat-card-header>
    <mat-icon _ngcontent-qmb-c93="" role="img" mat-list-icon="" class="mat-icon notranslate mat-list-icon material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">people</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>

    <span class="mat-list-item-content">
          <mat-card-title>Clientes</mat-card-title>
    </span>
  </mat-card-actions>
</mat-card>

<br>
<mat-card class="example-card" *ngIf="auth.isLogged()" routerLinkActive="light-blue accent-2" [routerLinkActiveOptions]="{exact:true}"
          routerLink="/app/vehiculos">
  <mat-card-header>
    <mat-icon _ngcontent-uod-c93="" role="img" mat-list-icon="" class="mat-icon notranslate mat-list-icon material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">directions_car</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>

    <span class="mat-list-item-content">
          <mat-card-title>Vehiculos</mat-card-title>
    </span>
  </mat-card-actions>
</mat-card>


<br>
<mat-card class="example-card" *ngIf="auth.isLogged()" routerLinkActive="light-blue accent-2" [routerLinkActiveOptions]="{exact:true}"
          routerLink="/app/ordenes-de-trabajo">
  <mat-card-header>
    <mat-icon _ngcontent-dvo-c93="" role="img" mat-list-icon="" class="mat-icon notranslate mat-list-icon material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">list_alt</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>

    <span class="mat-list-item-content">
          <mat-card-title>Ordenes de trabajo</mat-card-title>
    </span>
  </mat-card-actions>
</mat-card>


<br>
<mat-card class="example-card" *ngIf="auth.isLogged()" routerLinkActive="light-blue accent-2" [routerLinkActiveOptions]="{exact:true}"
          routerLink="/app/repuestos">
  <mat-card-header>
    <mat-icon _ngcontent-htw-c93="" role="img" mat-list-icon="" class="mat-icon notranslate mat-list-icon material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">plumbing</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>

    <span class="mat-list-item-content">
          <mat-card-title>Repuestos</mat-card-title>
    </span>
  </mat-card-actions>
</mat-card>


<br>
<mat-card class="example-card" *ngIf="auth.isLogged()" routerLinkActive="light-blue accent-2" [routerLinkActiveOptions]="{exact:true}"
          routerLink="/app/proveedores">
  <mat-card-header>
    <mat-icon _ngcontent-fer-c93="" role="img" mat-list-icon="" class="mat-icon notranslate mat-list-icon material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">warehouse</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>

    <span class="mat-list-item-content">
          <mat-card-title>Proveedores</mat-card-title>
    </span>
  </mat-card-actions>
</mat-card>

</body>
</html>
